<% if (flash) { %>
  <div class="alert alert-app alert-<%= flash.type === 'error' ? 'danger-app' : 'success-app' %> alert-dismissible fade show mb-4" role="alert">
    <%= flash.message %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>